<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#000000" />
    <title>About</title>
    <link rel="icon" href="img/weather.png" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <h5>Simple weather application to demonstrate mapbox and darsky API consumption.</h5>
      <img src="https://placehold.it/250x250" />
    </div>
    {{>footer}}
  </body>
</html>